<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
    <extension id="515524c6-3b23-46fe-baa7-0fbbbdf31fc5" point="com.dynatrace.diagnostics.InstallerContent">
        <metainfo name="515524c6-3b23-46fe-baa7-0fbbbdf31fc5" installer_type="resourcepack">
            <resource overwrite="true" resource="profiles/SIPD_IGECORE_PAC.profile.xml" resource_type="systemProfile">
                <instance instance="server"/>
            </resource>
        </metainfo>
    </extension>
</plugin>
