<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.dynatrace.monitors.usagemonitor"
         name="License Usage Monitor"
         point="com.dynatrace.diagnostics.pdk.monitor">
      <plugin
            class="com.dynatrace.monitors.license.usage.UsageMonitor"
            configid="com.dynatrace.monitors.usagemonitor.config">
      </plugin>
      <information>
         <author
               value="reinhard.pilz@dynatrace.com">
         </author>
         <displayname
               value="License Usage Monitor">
         </displayname>
      </information>
   </extension>
   <extension
         id="com.dynatrace.monitors.usagemonitor.config"
         name="License Usage Monitor"
         point="com.dynatrace.diagnostics.pdk.pluginconfig">
      <information>
         <author value="reinhard.pilz@dynatrace.com" />
         <displayname value="License Usage Monitor Configuration" />
         <shortversion value="1.0" />
         <supportlevel value="unsupported" />
      </information>   
      <configuration>
         <property
               default="admin"
               key="com.dynatrace.monitors.usagemonitor.config.user"
               label="user"
               type="string" />
         <property
               default="admin"
               key="com.dynatrace.monitors.usagemonitor.config.pass"
               label="pass"
               type="password" />
         <property
               default="8021"
               key="com.dynatrace.monitors.usagemonitor.config.port"
               label="dynaTrace Server WebService Port"
               type="long" />
         <property
               default="https"
               key="com.dynatrace.monitors.usagemonitor.config.protocol"
               label="Protocol"
               type="list">
            <list>
               <item value="http" />
               <item value="https" />
            </list>
         </property>
         <property
               default="5"
               key="com.dynatrace.monitors.usagemonitor.config.maxProfileCacheAge"
               label="Profile Cache Max Age (minutes)"
               type="long" />
      </configuration>
   </extension>
   <extension
         id="com.dynatrace.monitors.usagemonitor.metricgroups"
         name="License Usage"
         point="com.dynatrace.diagnostics.pdk.monitormetricgroup">
      <metricgroup
            displayname="License Usage"
            monitorid="com.dynatrace.monitors.usagemonitor">
         <metric
               defaultrate="sec"
               description="Consumed Licenses"
               displayname="Consumed Licenses"
               hidedisplayaggregation="avg min max sum cnt"
               name="Consumed Licenses"
               unit="number" />
      </metricgroup>
      <information>
         <author value="reinhard.pilz@dynatrace.com" />
         <description
               value="Metric Group for Monitoring consumed Licenses">
         </description>
      </information>
   </extension>
</plugin>
